*.csv
*.log
*.Rproj
.Rapp.history
.RData
.Rhistory
.Rproj.user
appCache*
reproducibleCache
stableCache
last.dump.rda
mySimDigestSaved.rds
mySimSaved.rds
outputs*
packrat/lib*/
R-Portable/
rsconnect/shinyapps\.io/landweb/LandWebDemo\.dcf
Thumbs.db
.checkpoint

*.tif
*.shp
*.dbf
*.shx
*.prj
*.xml
packrat/src/
www/
*.tar

*.zip
