[submodule "modules/Biomass_borealDataPrep"]
	path = modules/Biomass_borealDataPrep
	url = https://github.comodules/PredictiveEcology/Biomass_borealDataPrep
	branch = LandWeb
[submodule "modules/Biomass_core"]
	path = modules/Biomass_core
	url = https://github.com/PredictiveEcology/Biomass_core
	branch = LandWeb
[submodule "modules/Biomass_regeneration"]
	path = modules/Biomass_regeneration
	url = https://github.com/PredictiveEcology/Biomass_regeneration
	branch = LandWeb
[submodule "modules/Biomass_speciesData"]
	path = modules/Biomass_speciesData
	url = https://github.com/PredictiveEcology/Biomass_speciesData
	branch = LandWeb
[submodule "modules/LandMine"]
	path = modules/LandMine
	url = https://github.com/PredictiveEcology/LandMine
	branch = LandWeb
[submodule "modules/LandWeb_preamble"]
	path = modules/LandWeb_preamble
	url = https://github.com/fRI-Research/LandWeb_preamble
	branch = development
[submodule "modules/LandWeb_output"]
	path = modules/LandWeb_output
	url = https://github.com/fRI-Research/LandWeb_output
	branch = development
[submodule "modules/timeSinceFire"]
	path = modules/timeSinceFire
	url = https://github.com/fRI-Research/timeSinceFire
	branch = development
[submodule "modules/LandWeb_summary"]
	path = modules/LandWeb_summary
	url = https://github.com/PredictiveEcology/LandWeb_summary
[submodule "modules/HSI_Caribou_MB"]
	path = modules/HSI_Caribou_MB
	url = https://github.com/FOR-CAST/HSI_Caribou_MB
[submodule "modules/burnSummaries"]
	path = modules/burnSummaries
	url = https://github.com/PredictiveEcology/burnSummaries
[submodule "modules/Biomass_speciesParameters"]
	path = modules/Biomass_speciesParameters
	url = https://github.com/PredictiveEcology/Biomass_speciesParameters
[submodule "packages/LandWebUtils"]
	path = packages/LandWebUtils
	url = https://github.com/PredictiveEcology/LandWebUtils
[submodule "modules/Biomass_speciesFactorial"]
	path = modules/Biomass_speciesFactorial
	url = https://github.com/PredictiveEcology/Biomass_speciesFactorial
