*.tar
*.zip
Canada_2005_metadata_v1_4.doc
LC_2005_Legend_39Classes.pdf
LCC2005_V1_4a.tif
NFI_MODIS250m_kNN_Structure_Biomass_TotalLiveAboveGround_v0.tif
NFI_MODIS250m_kNN_Structure_Biomass_TotalLiveAboveGround_v0.tif.aux.xml
NFI_MODIS250m_kNN_Structure_Biomass_TotalLiveAboveGround_v0.tif.xml

